

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f5fa;
}

#root {
  width: 100%;
}

.zero-margin {
  margin: 0 !important;
}

.full-width {
  width: 100%;
}